<div class=col-md-12>
<div class="panel panel-primary ">
    <div class="panel-heading">
        <%= @formulaire.name %>
    </div>
        <div class="panel-body">
   <% if false  %>       
<% for poll in @polls %>
  id du poll :<%= poll.id %> </br>
  formulaire id : <%= poll.formulaire_id %> </br>
  question id : <%= poll.question_id %> </br>
  answer id : <%= poll.answer_id %> </br>
  content : <%= poll.nom %> </br></br>=================</br>
<% end %>
<%end%>

<div class="clearfix"></div>

<!-- ===================================================== Affichage chart =============================================== -->
    <% (0..@nbquestion.to_i-1).each do |i| %> 
        <div class="col-md-6">
            <div class="panel panel-info", style="width:500px; height:400px;">
                    <div class="panel-heading">
                        <b>Question <%=i+1  %> :</b><%= Question.where(formulaire_id: @formulaire)[i].nom.html_safe %>
                        <!-- On récupère le nb de question et on display n fois -->
                        <%= @polls.where(question_id: Question.where(formulaire_id: @formulaire)[i]).length  %> réponses
                        
                        
                        <% @polls.select(:created_at).where(question_id: Question.where(formulaire_id: @formulaire.id)[i]).as_json(only: [:created_at]).uniq{|x| x.to_s} %> 
                        
                        <% @NbRepondant = @polls.select(:created_at).where(question_id: Question.where(formulaire_id: @formulaire.id)[i]).as_json(only: [:created_at]).uniq{|x| x.to_s}.length %>

                        <%= @NbRepondant%> répondants
                        <% @NbRepondant = 0 %>
                        <i><% @poll_curr = @polls.where(question_id: Question.where(formulaire_id: @formulaire.id)[i]) %></i>
                        <!-- On get tous les résultats de la question en cours -->
                    </div>
                        <div class="panel-body">
                              <canvas id=<%="myChart_#{i}"%>> </canvas>
                        </div>
            </div>  
        </div>

<!-- ===================================================== fin boucle affichage chart =============================================== -->

<script>
var ctx = document.getElementById("<%="myChart_#{i}"%>").getContext('2d');
labels= [<% (0..@polls.where(question_id: Question.where(formulaire_id: @formulaire.id)[i]).group("id").count.size-1).each do |rep| %>
         "<%= @polls.where(question_id: Question.where(formulaire_id: @formulaire.id)[i]).group("id")[rep].nom.html_safe %>",
        <% end %>];
        
j = <%= @polls.where(question_id: Question.where(formulaire_id: @formulaire.id)[i]).group("id").count.values%>;
<%= @polls.where(question_id: Question.where(formulaire_id: @formulaire.id)[i]).group("id").count.values%>

if (<%=  Question.where(formulaire_id: @formulaire)[i].typequestion == 'choix_simple' ||Question.where(formulaire_id: @formulaire)[i].typequestion== 'reponse_courte' %>){
var myChart = new Chart(ctx, {
    type: 'bar',
    data:  {
        labels:labels,
        datasets: [{
            label: ' ',
            data: j,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)', 
                'rgba(0, 255, 255, 0.2)',
                'rgba(0, 0, 255, 0.2)',
                'rgba(0, 255, 0, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(0, 255, 255, 0.2)',
                'rgba(0, 0, 255, 0.2)',
                'rgba(0, 255, 0, 0.2)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});


myChart.options.legend.display = false;
}else if ( <%= Question.where(formulaire_id: @formulaire)[i].typequestion == 'choix_multiple' %>){
var myChart = new Chart(ctx, {
    type: 'pie',
    data:  {
        labels:labels,
        datasets: [{
            label: ' ',
            data: j,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(0, 255, 255, 0.2)',
                'rgba(0, 0, 255, 0.2)',
                'rgba(0, 255, 0, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(0, 255, 255, 0.2)',
                'rgba(0, 0, 255, 0.2)',
                'rgba(0, 255, 0, 0.2)'
            ],
            borderWidth: 1
        }]
    },
    options: {

    }
});
};

</script>

    <%end%>
    
    </div>
</div>

</div>
<div class="clearfix"></div>
</br></br>
<ul class="pager">
    <li class="Retour"><%= link_to 'Voir tous les formulaires', formulaires_path %> </li>
        <li class="Csv"><%= link_to 'Télécharger les données en .csv ', formulaire_polls_path(format: "csv") %> </li>
    
</ul>
</br></br>