
 <%= form_for([@formulaire, @formulaire.polls.new]) do |f| %>
  <%  i = 0 %>
    <% for question in @formulaire.questions %>

        <li> 
        <%=h question.nom %> 
        <ul>
          
        <% for answer in question.answers %>
           
                
            <%= radio_button("poll", "answer_id", answer.id) %>  <%=h answer.content %> <br/>
            
        <% end %>
                 <% i=i+1 %>  
        </ul>
        </li>  <% f.submit %>
    <% end %>

<%= f.submit %>
<% end %>
