<!-- Script JS pour limiter le cochage des question choix multiples -->
<script>

    $(function() {
$('div input[type=checkbox]').on('change', function(e) {
var MyForm=this.parentNode.id;
  if ($('div[id='+MyForm+'] input[type=checkbox]:checked').length == 2) {
    $('div[id='+MyForm+'] input[type=checkbox]:not(:checked)').prop('disabled', 'disabled');
  }else{
  $('div[id='+MyForm+'] input[type=checkbox]:not(:checked)').prop('disabled', false);
  }
});

console.log("ok");
console.log("")
});

</script>


<div class=col-md-8>
  <div class="panel panel-primary">
    <div class="panel-heading">
        <%= @formulaire.name %>
    </div>
    <div class="panel-body">

        <%= form_for([@formulaire, @formulaire.polls.new]) do |f| %>
                <% @formulaire.questions.each_with_index do |question, i| %>
                <li>
              

                    <%= question.nom.html_safe %><%= question.maxmultiplechoice%></br>
                    <%= image_tag(question.image, :size => "400x400" )%>
                       <% if question.typequestion == "choix_multiple"%>
                              <div id=<%="form_#{i}"%>>

                            <% question.answers.each_with_index do |answer, j| %>
                                    
                                    <%  a= Answer.find_by_sql(["Select * from answers where id=?", answer.id]).as_json(only: [:question_id,:content]) %>
                                    <%= check_box_tag :"nom_#{i}_#{j}", answer.id %> 
                                    <%= f.label :"nom_#{answer.content}", answer.content%> <% answer.id%>
                                    <br/>
                                    
                            <% end %>
                            </div>
                        <% elsif question.typequestion == "choix_simple"%>
                            <% question.answers.each_with_index do |answer, j| %>
                                    <%= radio_button_tag :"nom_#{i}", answer.id %> 
                                    <%= f.label :"nom_#{answer.content}", answer.content%> <% answer.id%>
                                    <br/>
                            <% end %>
                        <% else %>
                                    </br><%= text_area_tag :"champs_#{i}", "", class: "form-control"%> <% question.id%>
                        <%end%>


                </li>  
                <% end %>

            <%= f.submit "Valider les réponses", class:"pull-right btn btn-primary" %>
    <% end %>
    </div>
  </div>
</div>

