<div class=col-md-6>
  <div class="panel panel-success">
    <div class="panel-heading">
        <%= @formulaire.name %>
    </div>
    <div class="panel-body">

        <%= form_for([@formulaire, @formulaire.polls.new]) do |f| %>
                <% @formulaire.questions.each_with_index do |question, i| %>
                <li> 
                    <%=h question.nom %>
                    <ul>
                    <% question.answers.each_with_index do |answer, j| %>
                            <%  a= Answer.find_by_sql(["Select * from answers where id=?", answer.id]).as_json(only: [:question_id,:content]) %>
                            <%= radio_button_tag :"nom_#{i}", answer.id %>
                            <%= f.label :"nom_#{answer.content}", answer.content%>
                            <br/>
                    <% end %>
                    </ul>
                </li>  
                <% end %>

            <%= f.submit %>
    <% end %>
    </div>
  </div>
</div>