
<div class="panel panel-primary">
    <div class="panel-heading">
        Créer un formulaire
    </div>
    
    
    <div class="panel-body">
        <div class= "col-md-8">
            <div class="container">
                <%= form_for (@formulaire) do |f| %>
                        <h6><i> Ici on créera le formulaire, en JS avec des glisser/déposer de nos items (radiobutton/check
                      box etc). Barre latérale avec les items </i></h6>
                
                <div class="row">
                    <div class="form-group col-md-8">
                        <label>Nom du formulaire :</label>
                            <%= f.text_field :name, placeholder: "Nom du formulaire", class: "form-control" %>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-8">
                        <label>Description du formulaire :</label>
                            <%= f.text_area :description, placeholder: "Nom du formulaire", class: "form-control" %>
                    </div>
                </div>
                
                <br/>
                <hr/>
                <br/>
                
                <!-- PLACER ICI LES QUESTIONS  -->
                <!-- JS : Appuyer sur le bouton NEW création des champs. Render questions/_form -->
                
                <div class="row">
                    <div class="col-md-8 text-center">
                        <%= link_to '', new_question_path, class: "btn-sm btn-primary fa fa-plus" %>

                    </div>
                </div>
                
                <div class="row">
                    <div class="container">
                        <%= form_for(Question.new) do |f| %>
                                                    
                                                    
                              <!--
                              <div class="field">
                                <%= f.text_field :formulaire_id %>
                              </div>
                              -->
                              
                              <div class="row">
                                <div class="form-group col-md-8">
                                    <label>Nom de la question :</label>
                                        <%= f.text_field :nom, placeholder: "Nom de la question", class: "form-control" %>
                                </div>
                              </div>
                            
                              <div class="row">
                                <div class="form-group col-md-8">
                                    <label>Type de question :</label>
                                        <%= f.select :typequestion,[["option 1",1],["option 2",2]],prompt: "Sélectionner le type", class: "form-control" %>
                                </div>
                              </div>
                              
                              <!--
                              <div class="field">
                                <%= f.label :media %><br>
                                <%= f.text_field :media %>
                              </div>
                              -->
                              
                              <div class="actions">
                                <%= f.submit %>
                              </div>
                                                    
                        <% end %>

                    </div>

                </div>
                
                <!-- FIN DE PLACEMENT DES QUESTIONS  -->

                
                <br/>
                <hr/>
                <br/>
                
                <div class="actions">
                    <%= f.submit "Valider le formulaire", class:"btn btn-primary" %>
                </div>
                  
                <% end %>
            </div>    
        </div>
    
        <!-- Boite à outils latérale -->
        
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                        Boite à outils
                </div>
                    
                <div class="panel-body">
                    
                        items
                       
                </div>
            </div>    
        </div>


    </div>
</div>

