<div class="panel panel-primary">
    <div class="panel-heading">
        Créer un formulaire
    </div>
    
    
    <div class="panel-body">
        <div class= "col-md-10">
            <div class="form-group">

            <%= form_for @formulaire do |f| %>
              <% if @formulaire.errors.any? %> 
                <div class="col-md-6">
                    <div class="panel panel-danger">
                          <div class="panel-heading">
                            <h5>Erreurs :</h5>
                          </div>
                          <div class="panel-body">
                                <ul>
                                <% @formulaire.errors.full_messages.each do |message| %>
                                    <li><%= message %></li>
                                <% end %>
                                </ul>
                          </div>
                        
                  </div>    
                </div>
              <% end %>
                
                  <div class="row">
                    <div class="form-group col-md-8">
                    <%= f.label :name, "Nom du formulaire" %><br />
                    <%= f.text_field :name, class: "form-control" %>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="form-group col-md-8">
                    <%= f.label :description, "Description du Formulaire" %><br />
                    <%= f.text_area :description, class: "form-control" %>
                    </div>
                  </div>
                    <br/><hr/><br/>
                

                <div class="col-md-11"> 
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            Questions
                        </div>
                        <div class="panel-body">
                          <%= f.fields_for :questions do |builder| %>

                            <%= render 'question_fields', f: builder %>
                            
                          <% end %>
                          </div>
          <div class="centerbutton">
                  <%= link_to_add_association 'Ajouter une question', f, :questions, class: "btn btn-success"   %>
          </div></br>
                </div>
                  <div class="actions">
                    <%= f.submit "Valider le formulaire", class:"pull-right btn btn-primary" %>
                  </div>
                  </div>
                <% end %>

            </div>
        </div>
    </div>
</div>

