<div class="nested">
   <div class ="nested-fields">  

          <hr>
            <%= f.label :nom, "Question :" %> </br>
                <span>

                  <% f.trix_editor :nom, placeholder: "Intitulé de la question", cols: 130, rows: 2, class: "form-control" %></br>
                  <%= tinymce %> 
                  <%= f.text_area :nom, rows: 5, cols: 25, :class => "tinymce" %>

                  <%= f.label :typequestion, "Type de question"  %>
                  <%= f.select :typequestion, Question.typequestions.keys.map(&:humanize).zip(Question.typequestions
                  .keys), placeholder: "Type", class: "form-control" %>
                              <i class="fa fa-question-circle-o"  
                              title="Choix multiple : Réponse simple : Champ libre (max, 100 caractères) - Plusieurs réponses à la question - Choix simple : Une seule réponse par question ">
                              </i> 
                  <%= f.number_field :maxmultiplechoice %>
                  
                  <%= f.label :obligatoire, "Réponse obligatoire"  %>
                  <%= f.check_box :obligatoire %>

              <div class="row">
                <div class="col-md-4">
                  <%= f.file_field :image, title: "Ajouter une image pour illustrer votre question" %>
              </div>
              <div class="col-md-6"></div>
                <%= link_to_remove_association '', f,class: 'btn btn-danger fa fa-trash-o', title: 'Supprimer la question' %><br/>

            </div> 

                </span></br>
            
              <%= f.fields_for :answers do |builder2| %>
              <%= render 'answer_fields', f: builder2 %>
              <% end %>
            
        </hr>
              <span>
                    <%= link_to_add_association 'Ajouter un choix', f, :answers, class: "btn btn-primary" %>
              </span> <br/> 
  </div> 
</div>
<br/> 