<<<<<<< HEAD
=======

>>>>>>> 00bf59d9ebc3e47d17a89b4082af758f076fc0c9
<div class="panel panel-primary">
    <div class="panel-heading">
        <%= @formulaire.name %>
    </div>
    <div class="panel-body">
        <%= @formulaire.description %>
        <br/><hr/>
        <% i =1 %>
                <% @questions.each_with_index do |question| %>
                  <tr>
                    <label><br> Question <%= i %>  </br></label> </br> </br>
                    <label> Nom de la question : </label> <%= question.nom %> </br>
                    <label><br> Type question : </br></label> <%= question.typequestion %> </br></br></br>
                    <% i= i+1 %>
                  </tr>
                <% end %>

</div>
</div>


<ul class="pager">
    <li class="Edit"><%= link_to 'Edit', edit_formulaire_path(@formulaire) %>  </li>
    <li class="Retour"><%= link_to 'Back', formulaires_path %> </li>
</ul>