
<div class="panel panel-primary">
    <div class="panel-heading">
        <%= @formulaire.name %>
    </div>
    <div class="panel-body">
        <%= @formulaire.description %>
        <br/><hr/>
        
            <ol>
                <% for question in @formulaire.questions %>
                    <li> 
                        <%=h question.nom.html_safe %>
                        <div class="row" id="imageshow">
                            <% if question.image_content_type != nil %>
                                <%= image_tag question.image %>
                            <% end %>
                        </div>                  <ul>
                            <% for answer in question.answers %>
                                <li><%=h answer.content %></li>
                            <% end %>
                        </ul>
                        </li>
                <% end %>
            </ol>

    </div>
</div>


<ul class="pager">
    <li class="Retour"><%= link_to 'Retour', formulaires_path %> </li>
    <li class="Edit"><%= link_to 'Editer', edit_formulaire_path(@formulaire) %>  </li>
    <li class="Repondre"><%= link_to 'Répondre', new_formulaire_poll_path(@formulaire) %> </li>
    <li class="Dupliquer"><%= link_to 'Dupliquer', duplicate_formulaire_path(@formulaire)  %> </li> 
    <li class="Voir les réponses"><%= link_to 'Voir tous les réponses', formulaires_path %> </li>

</ul>


