
<div class="panel panel-primary">
    <div class="panel-heading">
        <%= @formulaire.name %>
    </div>
    <div class="panel-body">
        <%= @formulaire.description %>
        <br/><hr/>
        
            <ol>
                <% for question in @formulaire.questions %>
                    <li> 
                        <%=h question.nom %> 
                        <ul>
                            <%= for choix in question.choixes %>
                                <li><%=h choix.choix %></li>
                            <% end %>
                        </ul>
                        </li>
                <% end %>
            </ol>

    </div>
</div>


<ul class="pager">
    <li class="Edit"><%= link_to 'Edit', edit_formulaire_path(@formulaire) %>  </li>
    <li class="Retour"><%= link_to 'Back', formulaires_path %> </li>
</ul>

