<!DOCTYPE html>
<html>
<head>
  <title>PI Agria</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 <%= javascript_include_tag "jquery-3.3.1","highcharts" %>

 <%= csrf_meta_tags %>
  <!--  AJOUTER ICONE ICI -->
  <%= favicon_link_tag 'agria.ico' %>
  
  
</head>
<body>

<%= render 'layouts/navigation' %>

<%= render 'shared/message' %>

<%= yield %>

<%= render 'layouts/footer' %>

</body>
</html>
